a
  color inherit

// em
// i
//   font-style normal

// 表格设置单独边框和去除单元格间距
// table
//   border-collapse collapse
//   border-spacing 0

li
  list-style none

// 图片靠上对其及图片自适应
img
  border none
  vertical-align top
  // max-width 100%
  height auto

input:-webkit-autofill
textarea:-webkit-autofill
select:-webkit-autofill
  box-shadow 0 0 0 1000px white inset
  -webkit-text-fill-color inherit
